{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" >
    <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" rel="stylesheet">

    <title>My Profile</title>
</head>
<body>

  <header class="text-white body-font sticky top-0 bg-black">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a href="#" class="flex title-font font-medium items-center text-white-900 mb-4 md:mb-0">
        <img src="{% static "mca-logo.png" %}" height="100pt" width="100pt" />
            <span class="ml-3 text-xl hover:text-blue-500">Placement Assistant</span>
      </a>
      <nav class=" md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="{% url "Profile"%}" class="mr-5">Profile</a>
        <a href="{% url "D_Student"%}" class="mr-5">Drives</a>
        <a class="mr-5">Reports</a>
        <a class="mr-5">Notifications</a>
      </nav>


      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" aria-label="Notifications">
          <!-- Heroicon name: bell -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </button>

        <!-- Profile dropdown -->
        <div class="ml-3 relative">
          <div>
            <button id="menu" onclick="toggleMenu()" class=" flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out" id="user-menu" aria-label="User menu" aria-haspopup="true">
              <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </button>
          </div>
          
          <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
            <div id="menu-box" style="display: none" class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Your Profile</a>
              <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Settings</a>
              <a href="index.html" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Sign out</a>
            </div>
          </div>
        </div>
      </div>


<!-- 
      <span class="sm:ml-3 shadow-sm rounded-md">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
          Logout
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5 12h14M12 5l7 7-7 7"></path>          
          </svg>
        </button>
      </span> -->

      
    </div>
  </header>



      <section class="text-gray-700 body-font">
        <div class=" container px-5 py-18 mx-auto">
          <div class="flex items-center lg:w-3/4 mx-auto border-b pb-12 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-64 sm:h-64  h-20 w-20 sm:mr-40  inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" alt="">
            </div>
            <div class="flex-grow items-center sm:text-left text-center mt-1 sm:mt-10">
              <h1 class="text-gray-1000 text-5xl title-font font-xldium mb-4"><ion-icon class="" name="person-circle-outline"></ion-icon>SHARATH HG</h1>
              <h1 class="text-gray-1000 text-2xl title-font font-xldium ml-3"><ion-icon name="card" class="mr-3 "></ion-icon>PES120182650</h1>
              <h1 class="text-gray-1000 text-2xl title-font font-xldium ml-3"><ion-icon name="calendar" class="mr-3 "></ion-icon>04-12-1997</h1>
              <h1 class="text-gray-1000 text-2xl title-font font-xldium ml-3"><ion-icon name="male-female" class="mr-3 "></ion-icon>Male</h1>
              <h1 class="text-gray-1000 text-2xl title-font font-xldium ml-3"><ion-icon name="call" class="mr-3 "></ion-icon>8095908658</h1>
              <h1 class="text-gray-1000 text-2xl title-font font-xldium ml-3"><ion-icon name="mail" class="mr-3 "></ion-icon>cngsharath@gmail</h1>
              

              <a class="mt-3 text-indigo-500 inline-flex items-center">More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <!-- <button class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button> -->
        </div>
      </section>


      
      


      <section>
        <h1 class="text-3xl pb-4 ml-2"><u>Academic Details :</u></h1>
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Course</th>
              <th class="px-4 py-2">College/Institute</th>
              <th class="px-4 py-2">University/Board</th>
              <th class="px-4 py-2">Year of pass</th>
              <th class="px-4 py-2">Percentage/CGPA</th>
              <th class="px-4 py-2">Marksheet</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">SSLC</td>
              <td class="border px-4 py-2">STJHS</td>
              <td class="border px-4 py-2">Karnataka State Board</td>
              <td class="border px-4 py-2">2013</td>
              <td class="border px-4 py-2">84.96</td>
              <td class="border px-4 py-2">
                <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Upload&nbsp;&nbsp;
                  <ion-icon name="cloud-upload-outline"></ion-icon>
                </button>
              </td>
            </tr>
            

            <tr>
              <td class="border px-4 py-2">PUC</td>
              <td class="border px-4 py-2">PACEUM</td>
              <td class="border px-4 py-2">Karnataka State Board</td>
              <td class="border px-4 py-2">2015</td>
              <td class="border px-4 py-2">75</td>
              <td class="border px-4 py-2">
                <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Upload&nbsp;&nbsp;
                  <ion-icon name="cloud-upload-outline"></ion-icon>
                </button>
              </td>
            </tr>

            <tr>
              <td class="border px-4 py-2">BSc</td>
              <td class="border px-4 py-2">SBRRMFGC</td>
              <td class="border px-4 py-2">University of Mysore</td>
              <td class="border px-4 py-2">2018</td>
              <td class="border px-4 py-2">63.4</td>
              <td class="border px-4 py-2">
                <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Upload&nbsp;&nbsp;
                  <ion-icon name="cloud-upload-outline"></ion-icon>
                </button>
              </td>
            </tr>

            <tr>
              <td class="border px-4 py-2">MCA</td>
              <td class="border px-4 py-2">PES University</td>
              <td class="border px-4 py-2">PES University</td>
              <td class="border px-4 py-2">2021</td>
              <td class="border px-4 py-2">7.71</td>
              
            </tr>
           
          </tbody>
        </table>
      </section>



      

      <section>


        <h1 class="text-3xl pb-4 ml-2 mt-8"><u>Technical Skills :</u>
          <button id="popup" onclick="popUpTech()" class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Add New&nbsp;&nbsp;
            <ion-icon name="add-circle-outline"></ion-icon>
          </button>
        </h1>
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2"><u>Skill</u></th>
              <th class="px-4 py-2"><u>Details</u></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="border px-4 py-2">Languages</th>
              <td class="border px-4 py-2">C,C++,Java,Python</td>
            </tr>

            <tr>
              <th class="border px-4 py-2">Operating system</th>
              <td class="border px-4 py-2">Windows,Linux</td>
            </tr>

            <tr>
              <th class="border px-4 py-2">Database</th>
              <td class="border px-4 py-2">MySQL,NoSQL</td>
            </tr>

            <tr>
              <th class="border px-4 py-2">Web Technologies</th>
              <td class="border px-4 py-2">Django Framework</td>
            </tr>

            <tr>
              <th class="border px-4 py-2">Applications</th>
              <td class="border px-4 py-2">Git & Github</td>
            </tr>
           
          </tbody>
        </table>


        <!-- pop up -->
  
        <div id="popup-tech" style="display: none" class="fixed z-10 inset-0 overflow-y-auto">
          <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
         
            <div class="fixed inset-0 transition-opacity">
              <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
        
            
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
         
            <div  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <!-- Heroicon name: exclamation -->
                    <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                  </div>
                  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                      Add new technical skill
                    </h3>
                    <div class="mt-2">
                      <p class="text-sm leading-5 text-gray-500">
                        <span  class="inline-flex items-center bg-gray-200 border-0 py-2 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Skill&nbsp;</span>
                        <b>:</b>&nbsp;<input class="bg-white-800 rounded border border-gray-700 focus:outline-none focus:border-indigo-500 text-base text-black px-4 py-2 mb-4" placeholder="Skill Name" type="text">
                      </p>
                    </div>

                    <div class="mt-2">
                      <p class="text-sm leading-5 text-gray-500">
                        <span  class="inline-flex items-center bg-gray-200 border-0 py-2 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Detail&nbsp;</span>
                        <b>:</b>&nbsp;<input class="bg-white-800 rounded border border-gray-700 focus:outline-none focus:border-indigo-500 text-base text-black px-4 py-2 mb-4" placeholder="Skill Detail" type="text">
                      </p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                  <button onclick="popUpTech()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Save
                  </button>
                </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                  <button onclick="popUpTech()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Cancel
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- pop up -->



      </section>


      <section>

      

      <h1 class="text-3xl pb-4 ml-2 mt-8"><u>Hobbies :</u>
        <button onclick="popUpHobbie()"
          class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Add
          New&nbsp;&nbsp;
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>
      </h1>
      <div class="bg-gray-200">
        <div class="inline text-gray-700 text-center bg-gray-400 px-4 py-2">Reading books</div>
        <div class="inline text-gray-700 text-center bg-gray-400 px-4 py-2">Playing cricket</div>
        <div class="inline text-gray-700 text-center bg-gray-400 px-4 py-2">Running</div>
      </div>
     

      <!-- pop up -->
  
      <div id="popup-hobbie" style="display: none" class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
       
          <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
          </div>
      
          
          <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
       
          <div  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                  <!-- Heroicon name: exclamation -->
                  <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                  </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                    Add new Hobbie
                  </h3>
                  <div class="mt-2">
                    <p class="text-sm leading-5 text-gray-500">
                      <span class="inline-flex items-center bg-gray-200 border-0 py-2 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Hobbie&nbsp;</span>
                      <b>:</b>&nbsp;<input class="bg-white-800 rounded border border-gray-700 focus:outline-none focus:border-indigo-500 text-base text-black px-4 py-2 mb-4" placeholder="Hobbie Name" type="text">
                    </p>
                  </div>


                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
              <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                <button onclick="popUpHobbie()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                  Save
                </button>
              </span>
              <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                <button onclick="popUpHobbie()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                  Cancel
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- pop up -->



    </section>




      <section>


        <h1 class="text-3xl pb-4 ml-2 mt-8"><u>Personal Details :</u>
          <button onclick="popUpPersonal()" class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Add New&nbsp;&nbsp;
            <ion-icon name="add-circle-outline"></ion-icon>
          </button>
        </h1>
        <table class="table-auto">
          
          <tbody>
            <tr>
              <th class="border px-4 py-2">Languages known</th>
              <td class="border px-4 py-2">English,Kannada,Hindi</td>
            </tr>

            <tr>
              <th class="border px-4 py-2">Permanent Address</th>
              <td class="border px-4 py-2">Shree Venkateshwara Nilaya, Sharavati Nagar,
                 1st cross, Sagar Road, Shivamogga - 577201</td>
            </tr>

            <tr>
              <th class="border px-4 py-2">Current Address</th>
              <td class="border px-4 py-2">#624/40 Shree Krishna Nilaya, 1st "A" Main, 
                Ittamadu, Banashankari 3rd stage, 3rd phase, Bangalore-560085</td>
            </tr>

           
          </tbody>
        </table>



        <!-- pop up -->
  
        <div id="popup-personal" style="display: none" class="fixed z-10 inset-0 overflow-y-auto">
          <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
         
            <div class="fixed inset-0 transition-opacity">
              <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
        
            
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
         
            <div  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <!-- Heroicon name: exclamation -->
                    <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                  </div>
                  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                      Add new personal detail
                    </h3>
                    <div class="mt-2">
                      <p class="text-sm leading-5 text-gray-500">
                        <span  class="inline-flex items-center bg-gray-200 border-0 py-2 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Heading&nbsp;</span>
                        <b>:</b>&nbsp;<input class="bg-white-800 rounded border border-gray-700 focus:outline-none focus:border-indigo-500 text-base text-black px-4 py-2 mb-4" placeholder="Heading Name" type="text">
                      </p>
                    </div>

                    <div class="mt-2">
                      <p class="text-sm leading-5 text-gray-500">
                        <span  class="inline-flex items-center bg-gray-200 border-0 py-2 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Detail&nbsp;</span>
                        <b>:</b>&nbsp;<input class="bg-white-800 rounded border border-gray-700 focus:outline-none focus:border-indigo-500 text-base text-black px-4 py-2 mb-4" placeholder="Complete Detail" type="text">
                      </p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                  <button onclick="popUpPersonal()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Save
                  </button>
                </span>
                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                  <button onclick="popUpPersonal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Cancel
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- pop up -->




      </section>


      <section>


  
      <h1 class="text-3xl pb-4 ml-2 mt-8"><u>Projects :</u>
        <button onclick="popUpProject()" class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Add New&nbsp;&nbsp;
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>
      </h1>

            
    
      <section class="text-gray-700 body-font">
        <div class="container px-5 py-2 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/3">
              <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                  <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                    <h1><b>1</b></h1>
                  </div>
                  <h2 class="text-gray-900 text-lg title-font font-medium">Swachh Ward </h2>
                </div>
                <div class="flex-grow">
                  <p class="leading-relaxed text-base">A web app where people
                    can post and get updates of their ward problems.</p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-4 md:w-1/3">
              <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                  <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                    <h1><b>2</b></h1>
                  </div>
                  <h2 class="text-gray-900 text-lg title-font font-medium">Hospital Management System</h2>
                </div>
                <div class="flex-grow">
                  <p class="leading-relaxed text-base">A web app
                    developing for a near by government hospital in Shivamogga.</p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-4 md:w-1/3">
              <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                  <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                    <h1><b>3</b></h1>
                  </div>
                  <h2 class="text-gray-900 text-lg title-font font-medium">Placement Assistant System</h2>
                </div>
                <div class="flex-grow">
                  <p class="leading-relaxed text-base">A web app developing for our department which 
                    manages all placement activities.</p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <!-- pop up -->
  
      <div id="popup-project" style="display: none" class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
       
          <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
          </div>
      
          
          <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
       
          <div  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                  <!-- Heroicon name: exclamation -->
                  <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                  </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                    Add new Project
                  </h3>
                  <div class="mt-2">
                    <p class="text-sm leading-5 text-gray-500">
                      <span  class="inline-flex items-center bg-gray-200 border-0 py-2 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Project&nbsp;</span>
                      <b>:</b>&nbsp;<input class="bg-white-800 rounded border border-gray-700 focus:outline-none focus:border-indigo-500 text-base text-black px-4 py-2 mb-4" placeholder="Project Name" type="text">
                    </p>
                  </div>

                  <div class="mt-2">
                    <p class="text-sm leading-5 text-gray-500">
                      <span  class="inline-flex items-center bg-gray-200 border-0 py-2 px-3 focus:outline-none  text-black  rounded text-base mt-4 md:mt-0">Detail&nbsp;</span>
                      <b>:</b>&nbsp;<input class="bg-white-800 rounded border border-gray-700 focus:outline-none focus:border-indigo-500 text-base text-black px-4 py-2 mb-4" placeholder="Project Detail" type="text">
                    </p>
                  </div>

                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
              <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                <button onclick="popUpProject()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                  Save
                </button>
              </span>
              <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                <button onclick="popUpProject()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                  Cancel
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- pop up -->

      
    </section>



    <footer class="text-gray-700 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a href="#" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="{% static "mca-logo.png" %}" alt="" width="120px" height="120px">
            <span class="ml-3 text-xl">Placement Assistant System</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 Placement Committee —
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">mCaPeS</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>



      <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
      <script>

        function toggleMenu() {
          var menuBox = document.getElementById('menu-box');    
          if(menuBox.style.display == "block") { // if is menuBox displayed, hide it
            menuBox.style.display = "none";
          }
          else { // if is menuBox hidden, display it
            menuBox.style.display = "block";
          }
        }

        function popUpTech() {
          var popup = document.getElementById('popup-tech');    
          if(popup.style.display == "block") { // if is menuBox displayed, hide it
            popup.style.display = "none";
          }
          else { // if is menuBox hidden, display it
            popup.style.display = "block";
          }
        }


        function popUpHobbie() {
          var popup = document.getElementById('popup-hobbie');    
          if(popup.style.display == "block") { // if is menuBox displayed, hide it
            popup.style.display = "none";
          }
          else { // if is menuBox hidden, display it
            popup.style.display = "block";
          }
        }


        function popUpPersonal() {
          var popup = document.getElementById('popup-personal');    
          if(popup.style.display == "block") { // if is menuBox displayed, hide it
            popup.style.display = "none";
          }
          else { // if is menuBox hidden, display it
            popup.style.display = "block";
          }
        }
        
        function popUpProject() {
          var popup = document.getElementById('popup-project');    
          if(popup.style.display == "block") { // if is menuBox displayed, hide it
            popup.style.display = "none";
          }
          else { // if is menuBox hidden, display it
            popup.style.display = "block";
          }
        }

      </script>

    </body>
</html>