{% extends 'HomeBase.html' %}
{% load static %}
{% block content %}


  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Choose the batch you want to manage
      </h1>
    </div>
  </header>


  <section class="text-gray-700 body-font py-6 ">
    <div class="container px-5 py-14 mx-auto">
      <div class="flex  -m-12">
        <div class="p-12  flex flex-col items-start">
        {% for year in year|dictsort:"batch" %}
          <a href="{% url 'studentsList' year.batch %}"><div class="items-start inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-600 text-sm font-medium tracking-widest">
          {{ year.batch }}-batch</div></a><br>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


{% endblock content %}