
  {% comment %} <span class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-2 mr-64 outline-none focus:outline-none">
  <button class="absolute  bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4  border-b-4 border-blue-700 hover:border-blue-500 rounded">
  Apply
</button>
</span>
<span class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-2 mr-32 outline-none focus:outline-none">
  <button class="absolute  bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4  border-b-4 border-blue-700 hover:border-blue-500 rounded">
  Cancel
</button>
  </span> {% endcomment %}
 
  {% comment %} <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
    <span>×</span>
  </button> {% endcomment %}

{% comment %} <div class="bg-orange-400 px-6 py-4 my-4 rounded-md text-lg flex items-center mx-auto ">
  <svg viewBox="0 0 24 24" class="text-white w-5 h-5 sm:w-5 sm:h-5 mr-3">
    <path fill="currentColor" d="M23.119,20,13.772,2.15h0a2,2,0,0,0-3.543,0L.881,20a2,2,0,0,0,1.772,2.928H21.347A2,2,0,0,0,23.119,20ZM11,8.423a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Zm1.05,11.51h-.028a1.528,1.528,0,0,1-1.522-1.47,1.476,1.476,0,0,1,1.448-1.53h.028A1.527,1.527,0,0,1,13.5,18.4,1.475,1.475,0,0,1,12.05,19.933Z">
    </path>
  </svg>
  <span class="text-white">
    You are currently on the Free plan.
  </span>
  <span class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-2 mr-64 outline-none focus:outline-none">
  <button class="absolute  bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4  border-b-4 border-blue-700 hover:border-blue-500 rounded">
  Apply
  </button>
  </span>
  <span class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-2 mr-32 outline-none focus:outline-none">
  <button class="absolute  bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4  border-b-4 border-blue-700 hover:border-blue-500 rounded">
  Cancel
</button>
</span>
</div> {% endcomment %}