{% extends 'HomeBase.html' %}
{% load static %}
{% block content %}

<title>Applied Students List</title>
{% csrf_token %}
{% for list in appliedList %}
<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        {{ list.Company_Name }} - Applied Students
      </h1>
    </div>
</header>


<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="px-6 py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th class="px-6 py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Email
              </th>
              <th class="px-6 py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Application Status
              </th>
              <th class="px-6 py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Selection Status
              </th>
              <th class="px-6 py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Action
              </th>
              
              <th class="px-6 py-3 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {% if list.Selected_status != 0 %}
            <tr>
              <td class="px-6 py-4 text-center whitespace-no-wrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900">
                      {{list.username.first_name}} {{list.username.last_name}}
                    </div>
                    <div class="text-sm leading-5 text-gray-500">
                      {{list.username.username}}
                    </div>
                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-no-wrap text-center">
                <div class="text-sm leading-5 text-gray-900">{{ list.username.email }}</div>
              </td>

              <td class="px-6 py-4 whitespace-no-wrap text-center ">
                <div class="text-sm leading-5 text-gray-900">
                    {% if list.Selected_status == 1 %}
                    Applied
                    {% elif list.Selected_status == 2 %}
                    Not Applied
                    {% elif list.Selected_status == 3 %}
                    Applied
                    {% elif list.Selected_status == 4 %}
                    Applied
                    {% endif %}
                </div>
              </td>

              <td class="px-6 py-4 whitespace-no-wrap text-center ">
                <div class="text-sm leading-5 text-gray-900">
                    {% if list.Selected_status == 1 %}
                    Process
                    {% elif list.Selected_status == 2 %}
                    Dropped
                    {% elif list.Selected_status == 3 %}
                    Selected
                    {% elif list.Selected_status == 4 %}
                    Rejected
                    {% endif %}
                    </div>
              </td>

              <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">

                <input type="checkbox" id="selectSatus" name="selectSatus" value="3">

              <span class="inline-block items-right justify-center ">
                {% if list.Selected_status == 0 %}
                <a href="{% url 'listUpdate' id=list.id d=0 %}"
                          class="m-4 bg-green-500 text-lg font-bold p-2 py-2 text-white shadow-md rounded">
                      Select
                  </a>
        
                  <a href="{% url 'listUpdate' id=list.id d=1 %}"
                          class="m-4 bg-red-500 text-lg font-bold p-2 py-2 text-white shadow-md rounded">
                      Reject
                  </a>
                  {% elif list.Selected_status == 3 %}
                  <a href="{% url 'listUpdate' id=list.id d=1 %}"
                          class="m-4 bg-red-500 text-lg font-bold p-2 py-2 text-white shadow-md rounded">
                      Reject
                  </a>
                  {% elif list.Selected_status == 4 %}
                  <a href="{% url 'listUpdate' id=list.id d=0 %}"
                          class="m-4 bg-green-500 text-lg font-bold p-2 py-2 text-white shadow-md rounded">
                      Select
                  </a>
                  {% endif %}
              </span>

              </td>
              
            </tr>
            {% endif %}
            </tbody>
        </table>        
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="space-y-0">
  <span  class="inline-block items-right justify-center ">
      <a href="" class="absolute right-0 w-24 mt-4 mr-32 flex items-center justify-center px-4 py-1 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                Send&nbsp;Email
      </a>

      <a href="" class="absolute right-0  w-24 mt-4 mr-2 flex items-center justify-center px-4 py-1 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                Submit
      </a>

</span>
<div>
{% endblock content %}
