{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Drives|register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="/static/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link href="/static/demo.css" rel="stylesheet" />
  
</head>
<body>
{% block content %}
<div class="content ">    
  <div class="container-fluid">
    <div class="row" style="padding-left:150px;padding-right:150px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h6 class="card-title">Criteria Details:</h6>
          </div>
          <div class="card-body">
            <form  method="post" autocomplete="off" action="{% url 'CriteriaDetails' %}">
              {% csrf_token %}
              <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td class="text-left" style="font-weight: bold;">Company Name:</td>
                        <td class="text-left">{{form.Company_Name}}</td>
                      </tr>
                      <tr>
                        <td class="text-left " style="font-weight: bold;">SSLC:</td>
                        <td class="text-left">{{form.SSLC}}[CGPA/%]</td>
                      </tr>
                      <tr>
                        <td class="text-left" style="font-weight: bold;">PUC/Pre-Board:</td>
                        <td class="text-left">{{form.PUC}}[CGPA/%]</td>
                      </tr>
                      <tr>
                        <td class="text-left" style="font-weight: bold;">Graduation/Equivalent:</td>
                        <td class="text-left">{{form.UG}}[CGPA/%]</td>
                      </tr>
                      <tr>
                        <td class="text-left" style="font-weight: bold;">PG:</td>
                        <td class="text-left">{{form.PG}}[CGPA/%]</td>
                      </tr>
                      <tr><td></td><td>
                      <button type="submit" class="btn btn-success">Continue...</button>
                      </td></tr>
                      </tbody>
                </table> 
                </div>
              
            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
