{% extends 'Drives/driveBase.html' %}
{% load static %}
{% block contents %}


     <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Dashboard
      </h1>
    </div>
  </header> 


  <section class="text-gray-700 body-font ">
    <div class="container px-5 py-14 mx-auto">
      <div class="flex  -m-12">
        <div class="p-12  flex flex-col items-start">
        
        </div>
      </div>
    </div>
  </section>


{% endblock contents %}