{% extends 'HomeBase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<title>Drives</title>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Register Companies</h2>
        <p class="leading-relaxed text-base">Register new company and send notification to students to apply.</p>
        <a href="{% url 'CompanyDetails' %}" class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Add</a>
      </div>
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Manage Companies</h2>
        <p class="leading-relaxed text-base">Manage registered companies like EDIT,UPDATE,DELETE.</p>
        <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Manage</button>
      </div>
    </div>
  </div>
</section>

      <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
      <script>

        function toggleMenu() {
          var menuBox = document.getElementById('menu-box');    
          if(menuBox.style.display == "block") { // if is menuBox displayed, hide it
            menuBox.style.display = "none";
          }
          else { // if is menuBox hidden, display it
            menuBox.style.display = "block";
          }
        }
  </script>

      
{% endblock content %}
