{% extends 'HomeBase.html' %}
{% load static %}
{% block content %}


  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-14 mx-auto">
      <div class="flex flex-wrap -m-12">
        <div class="p-12 md:w-full flex flex-col items-start">
          <span class="items-start inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-sm font-medium tracking-widest">Placement Drives</span>
          {% for drive in drives%}
          <a href="{% url 'driveDetails' drive.id %}">
          <h2 class="sm:text-2xl text-2xl title-font font-medium text-gray-900 mt-1 mb-">{{ drive.Company_Name}}</h2>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

      <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
      <script>

        function toggleMenu() {
          var menuBox = document.getElementById('menu-box');    
          if(menuBox.style.display == "block") { // if is menuBox displayed, hide it
            menuBox.style.display = "none";
          }
          else { // if is menuBox hidden, display it
            menuBox.style.display = "block";
          }
        }
    </script>
{% endblock %}
